<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00BE260A16A0CE7F35958E3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01D7F5FA0216AC6226A1280E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>076F2B0B7A3C8156B64CDC81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07B10EDE3DACF141FA264895</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08A039578AEA0BBE46E3C1F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08A643E93FEA45CE26754695</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E8D11E4C2F898455432EF2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>140E7939346D7B526D616B76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F82B301152A8440F3511FFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>218920EFE04144E374789075</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>219AB00F3137966DD59EFB1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22094688F02DF7ACE6302DE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27FC515F02F02C47BA7CA1B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28A72D5FA3E9427667A8831D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C15D57593E70AEEFE33308F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DC8E8890C6C09D77D4988E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35008173A41C46AAF9C7A531</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E4AABE44FF34061FAA59C31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46BC77453B920EF68BDB1B65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C0AEEB6388CDD35C5F225B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55C54D6E25F988E611BE8773</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5634D7BFB487A1507E061DA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A15C5A584AC64BE7F1B5EC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F1B9B30C42F260C8DB15732</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FB3AEDF0F0408C9A0FB2497</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61232FDE3757A37F3123E82A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>620AD17CD37F459997949521</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6387DD5F837FAA75754A56F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6738E7EFDB450C93FB7D85E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6892DF523255CC1AD38F0188</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B205DEBF2DC3E1A90574F6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71665C6627798BD8F3C6E09B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72DC17C10102D5469E9BFA27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7789DDDFF9038CCB54ACB8D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78851F06FC4EF6805D4BA19B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D688672D6A1BEC47AD88A6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DBEBEB590062C9C08543094</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BAAA87D36562B939314C3F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D7357E291811922B747401D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97019536C54C69922637ED54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E848AE55E83181D29788A08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACF0E24254FFB89239EBE569</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3B4E08A75695199A4B33E55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B539BDA6C90452281C2CD795</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B93443B07DF671E8F5CE1937</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC2E49E2BEEF45A683AFFE79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4C6D628DEF83BD3D40540F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5112A7A1C24D902E09D739D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC8EC9B937AA320E7E6F9518</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3A58B9FE1E8B2B839D656C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFFE753A5D76854B03D9AB89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBD3C2F60ABCDE99458E4453</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0F604080DA7621A6D933C9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2EFBD0C27B9584A0DA16688</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F314FDAE91BEC1B7DEA8BA41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6B75A6838DA13FB325E1836</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7B0A48960FF79ABE56FC202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F95DBEE24092F2F4977DA35F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB48C4AFA9B49D5EF404E49F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF81A1EF5F4BE60DB441AD13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
